<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('./css/style.css') }}">
    <link rel="shortcut icon" href="imagenes/logo.ico">
    {% block head %}{% endblock %}
</head>
<body>
<header class="header">

    <div class="brand">
        <div class="logo">
            <a href="{{ path('home') }}" title="Inicio">
                <img src="{{ asset('./imagenes/Logo.png') }}" alt="Logo Dreteam-IA">
            </a>
        </div>

        <h1 class="titulo">{% block cabecera %}Oretan-IA{% endblock %}</h1>
    </div>

    <div class="modo">
        <button id="modo-toggle" class="modo-btn" aria-label="Cambiar modo">
            <span class="icon-sun"></span>
            <span class="icon-moon"></span>
        </button>

        <nav class="menu-horizontal">
            <ul>
                {% if app.session.has('user-id') %}
                    <li><a href="{{ path('perfil') }}">Perfil</a></li>
                    <li><a href="{{ path('logout') }}">Salir</a></li>
                {% else %}
                    <li><a href="{{ path('registro') }}">Registro</a></li>
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
                <li class="plan"><a href="{{ path('pago_planes') }}">Planes</a></li>
            </ul>
        </nav>
    </div>

</header>
<footer>
    <p>Información básica: oretan-ia@gmail.com | Tel: 953 123 456 | Redes sociales | Participantes .</p>
</footer>
<main>
    {% block body %}
    {% endblock %}
</main>
{% block javascripts %}{% endblock %}
<script>
    // Toggle modo claro/oscuro
    const toggle = document.getElementById("modo-toggle");
    toggle.addEventListener("click", () => {
        document.body.classList.toggle("oscuro");
    });
</script>
</body>
</html>
