{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}
{% block head %}
    <!-- Programmer Art, reemplázame -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        section {
            margin: 10px 0;
        }

        article {
            display: flex;
            justify-content: center;
            padding: 20px 50px;
            margin: 0 auto;
            width: 80%;
        }
        :not(.oscuro) article {
            background-color: #eaeaea;
        }
        .oscuro article {
            transition: 750ms;
            background-color: #2c2c2c;
        }

        table, td, th {
            border-collapse: collapse;
            border: black solid 1px;
        }

        table {
            width: 100%;
        }

        th, td {
            padding: 5px;
        }

        th {
            text-align: center;
            font-weight: bolder;
        }
        :not(.oscuro) th {
            background-color: lightgray;
        }
        .oscuro th {
            transition: 750ms;
            background-color: #595959;
        }

        #profile-header>article {
            justify-content: flex-start;
        }

        #profile-header-list {
            list-style: none;
        }

        #profile-header-list>li {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-top: 5px;
        }

        #profile-histories>header {
            width: 80%;
            margin: 10px auto 0;
            display: flex;
            justify-content: flex-start;
        }

        #profile-histories>header>h2 {
            display: inline-block;
            padding: 10px 17.5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        :not(.oscuro) #profile-header-id {
            content:url("{{ asset('./imagenes/icon-id.png') }}");
        }

        :not(.oscuro) #profile-header-mail {
            content:url("{{ asset('./imagenes/icon-mail.png') }}");
        }

        :not(.oscuro) #profile-header-date {
            content:url("{{ asset('./imagenes/icon-date.png') }}");
        }

        :not(.oscuro) #profile-header-credit {
            content: url("{{ asset('./imagenes/icon-credit.png') }}");
        }

        .oscuro #profile-header-id {
            transition: 750ms;
            content:url("{{ asset('./imagenes/icon-id-darkmode.png') }}");
        }

        .oscuro #profile-header-mail {
            transition: 750ms;
            content:url("{{ asset('./imagenes/icon-mail-darkmode.png') }}");
        }

        .oscuro #profile-header-date {
            transition: 750ms;
            content:url("{{ asset('./imagenes/icon-date-darkmode.png') }}");
        }

        .oscuro #profile-header-credit {
            transition: 750ms;
            content: url("{{ asset('./imagenes/icon-credit-darkmode.png') }}");
        }

        .icono-dato {
            width: 20px;
        }

        /* Clase de la pestaña de historial seleccionada */
        :not(.oscuro) .active-table-tab {
            background-color: #eaeaea;
        }
        .oscuro .active-table-tab {
            transition: 750ms;
            background-color: #2c2c2c;
        }

        /* Clase de la pestaña de historial no seleccionada */
        :not(.oscuro) .inactive-table-tab {
            background-color: lightgray;
        }
        .oscuro .inactive-table-tab {
            transition: 750ms;
            background-color: #595959;
        }

        /* Clase que esconde la tabla no seleccionada */
        .inactive-table {
            display: none;
            visibility: hidden;
        }

        /* Clase de los textos por defecto cuando no hay información */
        .no-data-notice {
            font-style: italic;
        }
        :not(.oscuro) .no-data-notice {
            color: gray;
        }
        .oscuro .no-data-notice {
            transition: 750ms;
            color: #aaaaaa;
        }

    </style>
{% endblock %}
{% block cabecera %}Perfil de Usuario{% endblock %}


{% block body %}

    <section id="profile-header">
        <article>
            <header>
                <h1>{{ user.nombre }} {{ user.apellido }}</h1>
                <ul id="profile-header-list">
                    <li><img id="profile-header-id" class="icono-dato" alt="Id: "> <span> {{ user.id }} </span></li>
                    <li><img id="profile-header-mail" class="icono-dato" alt="Correo: "> <span> {{ user.correo }} </span></li>
                    <li><img id="profile-header-date" class="icono-dato" alt="Registro:"> <span> {{ user.fechaRegistro | date('d/m/Y') }} </span></li>
                    <li><img id="profile-header-credit" class="icono-dato" alt="Creditos:"> <span> {{ user.creditos }} </span></li>
                </ul>

            </header>
        </article>
    </section>
    <section id="profile-histories">
        <header>
            <h2 class="active-table-tab" id="tab-usos">Historial de Uso</h2>
            <h2 class="inactive-table-tab" id="tab-pagos">Historial de Pago</h2>
        </header>
        <article id="profile-use-history">
            <table id="profile-use-history-table">
                <thead>
                    <tr>
                        <th>IA</th>
                        <th>Archivo</th>
                        <th>Texto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uso in historialUso %}
                        <tr>
                            <td>{{ uso.ia.nombre }}</td>
                            <td>{{ uso.archivo.nombre ?? "<span class='no-data-notice'> Ninguno </span>" }}</td>
                            <td>{{ uso.textoInput ?? "<span class='no-data-notice'> Ninguno </span>" }}</td>
            <!-- El formato de fecha es el de este para que se puedan ordenar alfabeticamente y sea correcto -->
                            <td>{{ uso.fecha | date("Y/m/d H:i")}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class='no-data-notice'>No has usado ninguna IA aún.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
        <article class="inactive-table" id="profile-pay-history">
            <table id="profile-pay-history-table">
                <thead>
                    <tr>
                        <th>Valido</th>
                        <th>Método</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Créditos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in historialPago %}
                        <tr>
                            {% if pago.valido %}
                                <td>&check;</td>
                            {% else %}
                                <td>&cross;</td>
                            {% endif %}
                            <td>{{ pago.metodo }}</td>
            <!-- El formato de fecha es el de este para que se puedan ordenar alfabeticamente y sea correcto -->
                            <td>{{ pago.fecha | date("Y/m/d H:i")}}</td>
                            <td>{{ pago.cantidad }}</td>
                            <td>{{ pago.creditosObtenidos }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class='no-data-notice'>No has realizado ningún pago aún.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
    <section id="profile-account-settings">
        <article id="profile-change-password">
            <!--
                Aquí va el formulario de cambio de contraseña
            -->
        </article>
        <article id="profile-delete-account">
            <!--
                Aquí va el formulario de borrado de cuenta.
                Debe pedir confirmación.
                    (Posiblemente un pop-up que esté oculto hasta
                    que se pulsa el otro botón y contiene el auténtico
                    botón de borrar cuenta)
            -->
        </article>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('./script/perfil.js') }}"></script>
{% endblock %}
